
$primary-color: #5f625af7;
$secondary-color: #1a242f;
$font-primary: #ffffff;
$font-secondary: #0c091c75;
$btn-color_primary: #7919b5db;
$font-color: #7381F0;
$link-color: #1128dbe6;

//font-family: 'Poppins', sans-serif;
//font-family: 'Quicksand', sans-serif;
