@import "./colors.scss";

footer {
  margin-top: auto;
}

.footer-container {
  display: flex;
  background-color: $primary-color;
  height: 50px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo > h4 {
  color: $font-primary;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}

.footer-links > a {
  color: $font-primary;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}
